	 div.tab {
	    float: left;
	    /*border: 1px solid #ccc;*/
	    background-color: #f1f1f1;
	    width: 30%;
	    /*height: 300px;*/
	}

	/* Style the buttons inside the tab */
	div.tab button {
		border: 1px solid #ccc;
	    display: block;
	    background-color: inherit;
	    color: #7cbfb7;
	    padding: 22px 16px;
	    width: 100%;
	    /*border: none;*/
	    outline: none;
	    text-align: left;
	    cursor: pointer;
	    transition: 0.3s;
	    font-size: 17px;
	    border-right: none;
	}

	/* Change background color of buttons on hover */
	div.tab button:hover {
	    background-color: #ddd;
	}

	/* Create an active/current "tab button" class */
	div.tab button.active {
	    background-color: #f9f9f9;
	}

	/* Style the tab content */
	.tabcontent {
	    float: left;
	    padding: 0px 12px;
	    border: 1px solid #ccc;
	    width: 70%;
	    /*border-left: none;*/
	   /* height: 300px; */
	}